#gameBoard {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4px;
  background: #fff;
  width: 90vmin;
  height: 90vmin;
}

.box {
  border: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box:hover {
  background-color: #f0f0f0;
  cursor: pointer;
}
