.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#teclaAzul,
#teclaRoja,
#teclaAmarillo,
#teclaVerde {
  cursor: pointer;
  width: 10vw;
  height: 10vw;
}

#teclaAzul {
  border-top-left-radius: 180px;
  background-color: lightblue;
}

#teclaRoja {
  border-top-right-radius: 180px;
  background-color: lightcoral;
}

#teclaAmarillo {
  border-bottom-right-radius: 180px;
  background-color: lightyellow;
}

#teclaVerde {
  border-bottom-left-radius: 180px;
  background-color: lightgreen;
}

.button-container {
  gap: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.status {
  margin-top: 4rem;
  margin-left: 8rem;
  text-align: center;
  padding: 1rem;
  border: 1px solid red;
  font-size: 1.5rem;
  color: currentColor;
  letter-spacing: 0.06em;
  line-height: 1.35;
  cursor: pointer;
  max-width: 300px;
}

#voiceButton {
  margin-top: 2rem;
  margin: 0 auto;
}

#msg {
  margin-top: 3rem;
  margin-right: 4rem;
  font-size: 1.8rem;
  color: black;
}
