.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#teclaAzul,
#teclaRoja,
#teclaAmarillo,
#teclaVerde {
  cursor: pointer;
  width: 10vw;
  height: 10vw;
}

#teclaAzul {
  border-top-left-radius: 180px;
  background-color: lightblue;
}

#teclaRoja {
  border-top-right-radius: 180px;
  background-color: lightcoral;
}

#teclaAmarillo {
  border-bottom-right-radius: 180px;
  background-color: lightyellow;
}

#teclaVerde {
  border-bottom-left-radius: 180px;
  background-color: lightgreen;
}

.button-container {
  gap: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.status {
  font-size: 2.4rem;
  margin-top: 3rem;
  background: transparent;
  padding: 1rem;
  border: 1px solid black;
  text-align: center;
  cursor: pointer;
}

#msg {
  margin-top: 3rem;
  font-size: 2.3rem;
  color: black;
}
