body {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column-reverse nowrap;
}

button {
  margin-top: 5rem;
  background-color: transparent;
  border: 1px solid black;

  cursor: pointer;
  font-size: 1.2rem;
  padding: 0.5rem 1rem;

  transition: all 2s cubic-bezier(0.075, 0.82, 0.165, 1);
  
}

button:hover {
  background-color: aqua;
  transform: scale(1.2);
  
}
